<ion-view view-title="Registrering">
   <ion-content id="register" class="padding">
      <div ng-show="error">
         <span class="alert-text">{{ error.message }}</span>
      </div>
      <form ng-submit="register()">
         <div class="list">
            <label class="item item-input item-floating-label">
               <span class="input-label">Användarnamn</span>
               <input required type="text" class="form-control" placeholder="Användarnamn" ng-model="user.username">
            </label>
            <label class="item item-input item-floating-label">
               <span class="input-label">Lösenord</span>
               <input required type="password" class="form-control" placeholder="Lösenord" ng-model="user.password">
            </label>
            <label class="item item-input item-floating-label">
               <span class="input-label">Förening/lag</span>
               <input required type="text" class="form-control" placeholder="Förening/lag" ng-model="user.club">
            </label>
         </div>
         <button class="button button-block button-royal" type="submit" class="submitter">Registrera och logga in</button>
      </form>

   </ion-content>
</ion-view>
