ion-item:nth-child(even) .item-content{
   background-color: $lightroyal !important;
}

.every-other:nth-child(even){
   background-color: $lightroyal !important;
}

ion-item, #nav-list .item, .item-toggle{
   border-style: none !important;
}

.item-divider{
   background-color: $off-black !important;
   color:white !important;
}
