.tab-nav{
   border-top: 2px solid $royal !important;
   background-color: black !important;
}

.tab-item{
   background-color: black;
   opacity:1;
   color:#999 !important;
   @include transition(all 0.3s ease-in);
   border-top:0px;
   i{
      height:30px !important;
      margin-top:2px !important;
   }
}

.tab-text{
   border-top:2px solid white !important;
   background-color: white !important;
   color: $off-black !important;
}
