//Colors
$royal: #0CCC33 !default;
$midroyal: lighten($royal,20%);
$lightroyal: lighten($royal,50%);
$off-black: #373737;
$calm: lighten(#EF473A,5%) !default;

//Text
$text-shadow: 2px 2px rgba(#444,0.8);
$berkshire: 'Berkshire Swash', cursive;
