<ion-view view-title="Före match">
   <ion-content class="padding has-tabs">
      <form ng-submit="setEleven();">
         <!-- <div class="card"> -->
            <ion-list>
               <ion-item class="item item-divider centre-text">
                  <strong>Ta ut startelva</strong> - {{game.opponent}}, {{game.venue[0]}}
               </ion-item>
               <li class="item item-toggle every-other" ng-repeat="player in game.players | orderBy:'name'">
                  {{player.name}}
                  <label class="toggle toggle-royal">
                     <input type="checkbox" ng-model="player.minutes.out" ng-value=0 ng-true-value=90 ng-false-value=0>
                     <div class="track">
                        <div class="handle"></div>
                     </div>
                  </label>
               </li>
            </ion-list>
         <!-- </div> -->
         <button class="button button-block button-royal" type="submit">Spara startelva</button>
      </form>
   </ion-content>
   <tabs-for-game></tabs-for-game>
</ion-view>
